<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="/static/jquery-3.6.1.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  

    <h2>About us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, facere. Blanditiis vero repellendus ipsam nam eos consequuntur fugiat nihil eum reprehenderit deleniti accusamus debitis veritatis, eius, rerum corporis laudantium soluta?</p>
</body>
</html>